*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.hero h1 {
    color: rgba(248, 248, 66, 0.905);
    font-weight: 500;
    margin-bottom: 40px;
}

.signup-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    background-color: #fff;

}

.left-box{
    padding: 50px;
    flex-basis: 50%;
    flex-grow: 1;
    color: #fff;

}

.right-box{
    padding: 50px;
    flex-basis: 50%;
    flex-grow: 1;
    background: rgba(248, 248, 66, 0.905);
    
}

.input-box{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    background-color: transparent;


}

::placeholder{
    color: rgb(0, 0, 0);
}

input[type=checkbox]{
    margin-top: 30px;
}

.right-box label{
    font-size: 14px;
}

.right-box button{
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-box button:hover{
    font-weight: 500;
    background-color: rgb(99, 194, 131);
    color: #fff;
}

.right-box button span{
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: width 1s;
}

.right-box button:hover span{
    width: 30px;
}







.left-box a{
    display: block;
    width: 100%;
    margin: 20px 0;
    min-width: 250px;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    text-decoration: none;
}

.left-box a li{
    font-size: 18px;
    margin-right: 10px;

}

.fb-link{
    background: #1778f2;
}

.tw-link{
    background: #1da1f2;
}

.ins-link{
    background: #f09433;
}

.signup-msg{
    color:#fff;
    margin-top: 30px;
    font-size: 15px;
}

.signup-msg a{
    color: #ea4335;
    text-decoration: none;
}